* {
    text-align: center;
}


header img {
    object-fit: cover;
    width: 100%;
    height: 92.2%;
    position: absolute;
    left: 0;
    top: 0;
}

nav h1{
    color:black;
    margin-right:40%;
    font-size: large;
}
nav{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(53, 81, 241, 0.4);
  }

.header {
    position: relative;
    text-align: center;
    top: 0;
    width: 100%;
    height: 80vh;
}

h2 {
    z-index: 100;
    color: rgb(78, 78, 168);
    font-size: 44px;
    -webkit-text-stroke: 0.47px white;
    
}

.subheader {
    z-index: 100;
    color: white;
    font-size: 27px;
    -webkit-text-stroke: 0.57px black;
}

.nav-link {
    color: white;
    margin:16px 0;
}

.nav-link:hover {
    color: rgb(78, 78, 168);
    
}

.nav-link:focus {
    color: rgb(78, 78, 168);
}

.text {
    display: flex;
    flex-direction: column;
    padding-top: 40vh;
    transform: translateY(-25%);

}

nav {
    color: white;
    border-bottom: solid 1px lightgray;
}